.td-toc {
    padding-top: 1em;
}

.toc-header {
    padding-bottom: .5em;
    font-weight: bold;
}

.td-page-meta { display: none !important; }

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 1024px) {
    .container-fluid {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container-fluid {
        max-width: 1280px;
    }
}
